:root {
  --white: #fff;
  --black: #000;
  --gray: #636363;
  --lighter-gray: #4a4a4a;
  --vivid-red: #FF4B4C;
  --light-red: #FF4F5F;
  --dark-gray: #212121;
  --light-gray: #2F2F2F;
  --light-blue: #02B79F;
  --short-rest: #54D5DE;
  --long-rest: #3CD87A;
}