:root {
  --white: #fff;
  --black: #000;
  --gray: #636363;
  --lighter-gray: #4a4a4a;
  --vivid-red: #ff4b4c;
  --light-red: #ff4f5f;
  --dark-gray: #212121;
  --light-gray: #2f2f2f;
  --light-blue: #02b79f;
  --short-rest: #54d5de;
  --long-rest: #3cd87a;
}
